body { margin: 10px; }

#the-grid { }

#the-grid table {
    border-spacing: 1px;
    margin: 0 auto;
    background-color: black;
}

td.cell {
    min-width: 25px;
    height: 25px;
    background: white;
    padding: 0px;
}

.color-0{
  background:#FF0000 !important;
}

.color-1{
  background:#00FF00 !important;
}

.color-2{
  background:#0000FF !important;
}
.deactivate{
  background:blue!important;
}
.activated{
  background:red !important;
}
